/* Prettyprint */

/* GitHub Theme */
.prettyprint {
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;

  .pln {
    color: #333333;
  }

  @media screen {
    .str {
      color: #dd1144;
    }

    .kwd {
      color: #333333;
    }

    .com {
      color: #999988;
    }

    .typ {
      color: #445588;
    }

    .lit {
      color: #445588;
    }

    .pun {
      color: #333333;
    }

    .opn {
      color: #333333;
    }

    .clo {
      color: #333333;
    }

    .tag {
      color: navy;
    }

    .atn {
      color: teal;
    }

    .atv {
      color: #dd1144;
    }

    .dec {
      color: #333333;
    }

    .var {
      color: teal;
    }

    .fun {
      color: #990000;
    }
  }
  @media print, projection {
    .str {
      color: #006600;
    }

    .kwd {
      color: #006;
      font-weight: bold;
    }

    .com {
      color: #600;
      font-style: italic;
    }

    .typ {
      color: #404;
      font-weight: bold;
    }

    .lit {
      color: #004444;
    }

    .pun, .opn, .clo {
      color: #444400;
    }

    .tag {
      color: #006;
      font-weight: bold;
    }

    .atn {
      color: #440044;
    }

    .atv {
      color: #006600;
    }
  }
  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* IE indents via margin-left */
  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    /* */
  }

  /* Alternate shading for lines */
  li.L1,
  li.L3,
  li.L5,
  li.L7,
  li.L9 {
    /* */
  }

}

/* Prettyprint (Inverse) */

.prettyprint.code-block-inverse {

    /*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
  background: #1b1918;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;

  .pln {
    color: #f1efee;
  }

  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #766e6b;
  }

  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    padding-left: 1em;
    background-color: #1b1918;
    list-style-type: decimal;
  }

  @media screen {

    /* string content */

    .str {
      color: #7b9726;
    }

    /* keyword */

    .kwd {
      color: #6666ea;
    }

    /* comment */

    .com {
      color: #766e6b;
    }

    /* type name */

    .typ {
      color: #407ee7;
    }

    /* literal value */

    .lit {
      color: #df5320;
    }

    /* punctuation */

    .pun {
      color: #f1efee;
    }

    /* lisp open bracket */

    .opn {
      color: #f1efee;
    }

    /* lisp close bracket */

    .clo {
      color: #f1efee;
    }

    /* markup tag name */

    .tag {
      color: #f22c40;
    }

    /* markup attribute name */

    .atn {
      color: #df5320;
    }

    /* markup attribute value */

    .atv {
      color: #3d97b8;
    }

    /* declaration */

    .dec {
      color: #df5320;
    }

    /* variable name */

    .var {
      color: #f22c40;
    }

    /* function name */

    .fun {
      color: #407ee7;
    }
  }

}
