/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

components/example-block.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Variables

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Example Block

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.example-block-toggle {
	padding: 0;
	text-align: left;

	&.open {
		&:after {
			transform: rotate(180deg) translate3d(0, 0, 0);
		}
	}
}



.example-block {

	border-radius: 5px;
	@shadow:	0px 0px 0px 1px rgba(0, 0, 0, 0.1),
				0px 2px 1px 0px rgba(0, 0, 0, 0.1);
	.box-shadow(@shadow);
	overflow: hidden;
	margin-bottom: @base-spacing-unit * 0.5;



	&.show-snippet {
		border-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		box-shadow: none;
		height: @base-spacing-unit * 1.7;
		margin-bottom: @base-spacing-unit;
		position: relative;

		&:after {
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			bottom: 0px;
			content: '';
			height: 15px;
			position: absolute;
			width: 100%;
		}
	}



	&.example-block-overflow {

		overflow: visible;

		.example-block-content {

			border-radius: 5px;

		}

	}



	.example-block-content {

		background: @white;
		padding: (@grid-gutter-width * 0.5);
		padding-top: (@grid-gutter-width * 0.5) + (2 * @grid-gutter-width * 0.125) + (@small-text-line-height);
		position: relative;

		&:before {

			content: 'Example';
			background: color-lighten(@neutral, 95);
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 5px 0px 5px 0px;
			font-size: @small-text-font-size;
			line-height: @small-text-line-height;
			padding: (@grid-gutter-width * 0.125) (@grid-gutter-width * 0.25);
			position: absolute;
			top: 0px;
			left: 0px;
			text-transform: uppercase;

		}

		& + .example-block-footer {

			border-radius: 0px 0px 5px 5px;

		}



		/* ----------------------------------------------------------------------------------------------------
		Dropdown Open/Expanded
		---------------------------------------------------------------------------------------------------- */

		.dropdown-open {

			.clearfix();

			.dropdown-toggle {

				float: left;

			}

			.dropdown-menu {

				position: static;
				display: block;
				clear: left;

			}

		}

	}

	.example-block-footer {

		border-radius: 5px;
		padding: (@grid-gutter-width * 0.5);
		background: color-lighten(@neutral, 95);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		overflow: hidden;

		&.example-block-footer-codeblock {

			padding: 0px;

		}

	}



	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------

	Inverse

	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	&.inverse {

		.example-block-content {

			background: @canvas-pod-dark-background-color;
			margin: 3px;
			border-radius: 3px 3px 0px 0px;

			&:before {

				top: -3px;
				left: -3px;

			}

		}

	}

}

.container.container-pod .example-block .example-block-content.no-tag {
  padding-top: @base-spacing-unit * 2;

  &:before {
    display: none;
  }
}



& when (@screen-mini-enabled) {

	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------

	Screen Size: Mini (@screen-mini) and above

	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	@media (min-width: @screen-mini) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Example Block

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.example-block {

			&.show-snippet {
				height: @base-spacing-unit-screen-mini * 1.7;
				margin-bottom: @base-spacing-unit-screen-mini;
			}

			.example-block-content {

				padding: (@base-spacing-unit-screen-mini * 0.5);
				padding-top: (@base-spacing-unit-screen-mini * 0.5) + (2 * @base-spacing-unit-screen-mini * 0.125) + (@small-text-line-height * @small-text-line-height-scale-screen-mini);

				&:before {

					padding: (@base-spacing-unit-screen-mini * 0.125) (@base-spacing-unit-screen-mini * 0.25);
					font-size: @small-text-font-size * @small-text-font-size-scale-screen-mini;
					line-height: @small-text-line-height * @small-text-line-height-scale-screen-mini;

				}

			}

			.example-block-footer {

				padding: (@base-spacing-unit-screen-mini * 0.5);

			}

		}

	}

}


& when (@screen-small-enabled) {

	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------

	Screen Size: Small (@screen-small) and above

	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	@media (min-width: @screen-small) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Example Block

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.example-block {

			margin-bottom: @base-spacing-unit-screen-small * 0.5;

			&.show-snippet {
				height: @base-spacing-unit-screen-small * 1.7;
				margin-bottom: @base-spacing-unit-screen-small;
			}

			.example-block-content {

				padding: (@base-spacing-unit-screen-small * 0.5);
				padding-top: (@base-spacing-unit-screen-small * 0.5) + (2 * @base-spacing-unit-screen-small * 0.125) + (@small-text-line-height * @small-text-line-height-scale-screen-small);

				&:before {

					padding: (@base-spacing-unit-screen-small * 0.125) (@base-spacing-unit-screen-small * 0.25);
					font-size: @small-text-font-size * @small-text-font-size-scale-screen-small;
					line-height: @small-text-line-height * @small-text-line-height-scale-screen-small;

				}

			}

			.example-block-footer {

				padding: (@base-spacing-unit-screen-small * 0.5);

			}

		}

	}

}







& when (@screen-medium-enabled) {

	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------

	Screen Size: Large (@screen-medium) and above

	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	@media (min-width: @screen-medium) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Example Block

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.example-block {

			margin-bottom: @base-spacing-unit-screen-medium * 0.5;

			&.show-snippet {
				height: @base-spacing-unit-screen-medium * 1.7;
				margin-bottom: @base-spacing-unit-screen-medium;
			}

			.example-block-content {

				padding: (@base-spacing-unit-screen-medium * 0.5);
				padding-top: (@base-spacing-unit-screen-medium * 0.5) + (2 * @base-spacing-unit-screen-medium * 0.125) + (@small-text-line-height * @small-text-line-height-scale-screen-medium);

				&:before {

					padding: (@base-spacing-unit-screen-medium * 0.125) (@base-spacing-unit-screen-medium * 0.25);
					font-size: @small-text-font-size * @small-text-font-size-scale-screen-medium;
					line-height: @small-text-line-height * @small-text-line-height-scale-screen-medium;

				}

			}

			.example-block-footer {

				padding: (@base-spacing-unit-screen-medium * 0.5);

			}

		}

	}

}






& when (@screen-large-enabled) {

	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------

	Screen Size: Large (@screen-large) and above

	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	@media (min-width: @screen-large) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Example Block

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.example-block {

			margin-bottom: @base-spacing-unit-screen-large * 0.5;

			&.show-snippet {
				height: @base-spacing-unit-screen-large * 1.7;
				margin-bottom: @base-spacing-unit-screen-large;
			}

			.example-block-content {

				padding: (@base-spacing-unit-screen-large * 0.5);
				padding-top: (@base-spacing-unit-screen-large * 0.5) + (2 * @base-spacing-unit-screen-large * 0.125) + (@small-text-line-height * @small-text-line-height-scale-screen-large);

				&:before {

					padding: (@base-spacing-unit-screen-large * 0.125) (@base-spacing-unit-screen-large * 0.25);
					font-size: @small-text-font-size * @small-text-font-size-scale-screen-large;
					line-height: @small-text-line-height * @small-text-line-height-scale-screen-large;

				}

			}

			.example-block-footer {

				padding: (@base-spacing-unit-screen-large * 0.5);

			}

		}

	}

}






& when (@screen-resolution-2x-enabled) {

	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------

	Screen Resolution: 2x

	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	@media only screen and (-webkit-min-device-pixel-ratio: 2) {

	}

}
