@import "../overrides/gemini-scrollbar.less";

.modal-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2010;
}

.modal {
  left: auto;
  top: auto;
  margin: 0;
  position: relative;
  background: inherit;
  max-height: none;

  .modal-close {
    position: absolute;
  }

  .modal-content-inner {
    padding: @base-spacing-unit;
  }

  .modal-content {
    border-radius: 0;
    background-color: @body-background-color;
  }

  > :first-child {
    border-radius: 10px 10px 0px 0px;
  }

  > :last-child {
    border-radius: 0px 0px 10px 10px;
  }

  .modal-header {
    background-color: @canvas-pod-light-background-color;
  }

  &.inverse {
    color: @modal-inverse-text-color;

    .modal-header {
      background-color: @modal-inverse-header-background-color
    }

    .modal-content {
      background-color: @modal-inverse-content-background-color;
    }

    .modal-footer {
      background-color: @modal-inverse-footer-background-color
    }
  }
}

.modal-backdrop {
  // Since the backdrop will be inside of the modal-container now,
  // and the container transitions by moving 25% above bottom,
  // this will ensure that the backdrop doesn't get cut off.
  bottom: -25%;
  cursor: default;
}

.modal-enter {
  opacity: 0.01;
  transform: translate(0, -25%);
  transition: transform .5s ease-in, opacity .5s ease-in;

  &.modal-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.modal-leave {
  opacity: 1;
  transform: translate(0, 0);

  &.modal-leave-active {
    opacity: 0.01;
    transform: translate(0, -25%);
    transition: transform .5s ease-in, opacity .5s ease-in;
  }
}

& when (@screen-mini-enabled) {
  @media (min-width: @screen-mini) {
    .modal.modal-large {
      width: 500px;
    }
  }
}

& when (@screen-small-enabled) {
  @media (min-width: @screen-small) {
    .modal.modal-large {
      width: 700px;
    }
  }
}

& when (@screen-medium-enabled) {
  @media (min-width: @screen-medium) {
    .modal.modal-large {
      width: 800px;
    }
  }
}

& when (@screen-large-enabled) {
  @media (min-width: @screen-large) {
    .modal.modal-large {
      width: 1000px;
    }
  }
}
