.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1500;
}

.modal {
  left: auto;
  position: relative;
  margin: 0;

  .container-scrollable {
    overflow: scroll;
  }

  .modal-content {
    border-radius: 0;

    pre {
      overflow: visible;
    }
  }

  > :last-child {
    border-radius: 0px 0px 10px 10px;
  }

  &.inverse {
    color: @modal-inverse-text-color;
    background-color: @modal-inverse-background-color;

    .modal-header {
      background-color: @modal-inverse-header-background-color
    }

    .modal-content {
      background-color: @modal-inverse-content-background-color;

    }

    .modal-footer {
      background-color: @modal-inverse-footer-background-color
    }
  }

}

.modal-backdrop {
  cursor: default;

  // Since the backdrop will be inside of the modal-container now,
  // and the container transitions by moving 25% above bottom,
  // this will ensure that the backdrop doesn't get cut off.
  bottom: -25%;
}

.modal-enter {
  opacity: 0.01;
  transform: translate(0, -25%);
  transition: transform .5s ease-in, opacity .5s ease-in;
}

.modal-enter.modal-enter-active {
  transform: translate(0, 0);
  opacity: 1;
}

.modal-leave {
  transform: translate(0, 0);
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transform: translate(0, -25%);
  transition: transform .5s ease-in, opacity .5s ease-in;
}

.icon.icon-mini.icon-mini-white.icon-close {
  color: white;
  text-align: center;
  font-style: normal;
  top: 20px;
  font-size: 16px;
}

& when (@screen-mini-enabled) {
  @media (min-width: @screen-mini) {
    .modal.modal-large {
      width: 500px;
    }
  }
}

& when (@screen-small-enabled) {
  @media (min-width: @screen-small) {
    .modal.modal-large {
      width: 700px;
    }
  }
}

& when (@screen-medium-enabled) {
  @media (min-width: @screen-medium) {
    .modal.modal-large {
      width: 800px;
    }
  }
}

& when (@screen-large-enabled) {
  @media (min-width: @screen-large) {
    .modal.modal-large {
      width: 1000px;
    }
  }
}
