// If you're including this file on its own, please
// import these two files in your main less file:
// * @import '../overrides/gemini-scrollbar.less';
// * @import (inline) '../../react-gemini-scrollbar/node_modules/gemini-scrollbar/gemini-scrollbar.css';

& when (@modal-enabled) {

  .modal-wrapper {
    position: fixed;
    z-index: @z-index-modal;
  }

  .modal {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: auto;
  }

  .modal-body-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    position: relative;

    .container-scrollable {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .modal-backdrop {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: auto;
  }

  .modal-enter,
  .modal-appear {

    .modal {
      opacity: 0;
      transform: translate(-50%, calc(-50% ~' - ' @modal-animation-offset));
    }

    .modal-backdrop {
      opacity: 0;
    }

    &.modal-enter-active,
    &.modal-appear-active {

      .modal {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: transform @modal-animation-duration @modal-animation-easing, opacity @modal-animation-duration @modal-animation-easing;
      }

      .modal-backdrop {
        opacity: 1;
        transition: opacity @modal-animation-duration @modal-animation-easing;
      }
    }
  }

  .modal-exit {

    .modal {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    .modal-backdrop {
      opacity: 1;
    }

    &.modal-exit-active {

      .modal {
        opacity: 0;
        transform: translate(-50%, calc(-50% ~' - ' @modal-animation-offset));
        transition: transform @modal-animation-duration @modal-animation-easing, opacity @modal-animation-duration @modal-animation-easing;
      }

      .modal-backdrop {
        opacity: 0;
        transition: opacity @modal-animation-duration @modal-animation-easing;
      }
    }
  }
}
