// If you're including this file on its own, please
// import these two files in your main less file:
// * @import "../overrides/gemini-scrollbar.less";
// * @import (inline) "../../react-gemini-scrollbar/node_modules/gemini-scrollbar/gemini-scrollbar.css";

& when (@modal-enabled) {

  .modal {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);

    .modal-body {
      padding: 0;
    }

  }

  .modal-content-inner {
    padding: @modal-body-padding-top @modal-body-padding-right @modal-body-padding-bottom @modal-body-padding-left;
  }

  .modal-backdrop {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .modal-enter,
  .modal-appear {

    .modal {
      opacity: 0;
      transform: translate(-50%, calc(-50% ~" - " @modal-animation-offset));
    }

    .modal-backdrop {
      opacity: 0;
    }

    &.modal-enter-active,
    &.modal-appear-active {

      .modal {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: transform @modal-animation-duration @modal-animation-easing, opacity @modal-animation-duration @modal-animation-easing;
      }

      .modal-backdrop {
        opacity: 1;
        transition: opacity @modal-animation-duration @modal-animation-easing;
      }

    }

  }

  .modal-leave {

    .modal {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    .modal-backdrop {
      opacity: 1;
    }

    &.modal-leave-active {

      .modal {
        opacity: 0;
        transform: translate(-50%, calc(-50% ~" - " @modal-animation-offset));
        transition: transform @modal-animation-duration @modal-animation-easing, opacity @modal-animation-duration @modal-animation-easing;
      }

      .modal-backdrop {
        opacity: 0;
        transition: opacity @modal-animation-duration @modal-animation-easing;
      }

    }

  }

}

& when (@modal-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    .modal-content-inner {
      padding: @modal-body-padding-top-screen-small @modal-body-padding-right-screen-small @modal-body-padding-bottom-screen-small @modal-body-padding-left-screen-small;
    }

  }

}

& when (@modal-enabled) and (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    .modal-content-inner {
      padding: @modal-body-padding-top-screen-medium @modal-body-padding-right-screen-medium @modal-body-padding-bottom-screen-medium @modal-body-padding-left-screen-medium;
    }

  }

}

& when (@modal-enabled) and (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    .modal-content-inner {
      padding: @modal-body-padding-top-screen-large @modal-body-padding-right-screen-large @modal-body-padding-bottom-screen-large @modal-body-padding-left-screen-large;
    }

  }

}

& when (@modal-enabled) and (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    .modal-content-inner {
      padding: @modal-body-padding-top-screen-jumbo @modal-body-padding-right-screen-jumbo @modal-body-padding-bottom-screen-jumbo @modal-body-padding-left-screen-jumbo;
    }

  }

}
