@keyframes scale-down {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scale-up {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dropdown {
  display: inline-block;
}

.dropdown-toggle {

  &:after {
    transition: transform 0.25s;

    .open & {
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu {
  // This can be removed when Canvas is updated to toggle visibility: visible
  display: block !important;
  transform-origin: top center;
}

.dropdown-menu-enter {
  animation: fade-in 0.25s, scale-down 0.25s;
}

.dropdown-menu-leave {
  animation: fade-out 0.25s, scale-up 0.25s;
}
