/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

base/forms.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@form-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Form Control Group

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .form-control-group {

    &.filter-input-text-group {

      width: auto;

      // Hide native clear button in IE10+

      ::-ms-clear {

        display: none;

      }

      .form-control-group-add-on-prepend {

        .icon {

          .opacity(0.2);

          &.active {

            .opacity(1);

          }

        }

      }

      .form-control-group-add-on-append {

        &.hidden {

          display: table-cell !important;
          .opacity(0);

        }

        a {

          .icon {

            .opacity(0.2);

            &:hover {

              .opacity(0.6);

            }

            &:active {

              .opacity(1.0);

            }

          }

        }

      }

    }

  }

}






& when (@form-enabled) and (@screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Form Control Group

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .form-control-group {

      &.filter-input-text-group {

        width: 100px;

      }

    }

  }

}






& when (@form-enabled) and (@screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Form Control Group

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .form-control-group {

      &.filter-input-text-group {

        width: 200px;

      }

    }

  }

}






& when (@form-enabled) and (@screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

  }

}






& when (@form-enabled) and (@screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

  }

}
