@import "../ScrollBar/scroll-bar.less";
@import (inline) "../../node_modules/react-gemini-scrollbar/node_modules/gemini-scrollbar/gemini-scrollbar.css";

.table {
  th {
    cursor: default;
    outline: none;
    user-select: none;
  }
}

.caret {
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.45em solid rgba(50, 58, 78, 0.5);
  display: inline-block;
  margin-left: 0.5em;
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s, visibility 0.25s;
  vertical-align: middle;
  visibility: hidden;

  .inverse & {
    border-top: 0.45em solid rgba(255, 255, 255, 0.5);
  }

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &--desc {
    transform: rotate(180deg);
  }

  &--asc {
    transform: rotate(0);
  }

}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2em);
  }
}

.table-row-enter {
  animation: fade-in-left 0.5s;
}

.table-row-leave {
  animation: fade-out-right 0.5s;
}
